
@{
    ViewBag.Title = "Home";
}

<div class="c1">
    <font color="red">
        @Html.ActionLink("REGISTOR", "one")<br>
        @Html.ActionLink("LOGIN", "two")
    </font>
   
</div>
<style>
    .c1 {
        background-image: url('../../Content/a1.jpg' );
        background-size: cover;
        background-attachment: fixed;
    }
    
</style>